<div class="main-container">
  <mat-card class="search" *ngIf="auth.isTimeOfficeAdmin()">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px" fxLayoutGap.xs="10px">
      <mat-form-field fxFlex>
        <input matInput placeholder="6 Digit Employee Code" [formControl]="emp_code" pattern="[0-9]{6}"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="fetchAttendance()">
          <mat-option *ngFor="let item of searchResult" [value]="item.emp_code">
            {{ getFullName(item) | titlecase }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="emp_code.invalid">Employee Code should be 6 digit</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="fetchAttendance()" [disabled]="emp_code.invalid">
        <mat-icon>search</mat-icon>Search
      </button>
    </div>
  </mat-card>

  <mat-card class="table" id="content" 
      *ngIf="attendance && attendance.length > 0; else loading">
    <table style="width:100%">
      <thead>
        <tr>
          <th>Day</th>
          <th>In time</th>
          <th>Out time</th>
          <th>Status</th>
          <th>Modified Status</th>
          <th>Remarks</th>
          <th *ngIf="auth.isTimeOfficeAdmin()">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let attend of attendance">
        <td>{{attend.day | date:'mediumDate'}}</td>
        <td>{{attend.in_time}}</td>
        <td>{{attend.out_time}}</td>
        <td>{{getAttendanceStatus(attend.attendance_status)}}</td>
        <td></td>
        <td>{{attend.remarks}}</td>
        <td *ngIf="auth.isTimeOfficeAdmin()">
          <ng-container *ngIf="attend.attendance_status != presentStatus">
            <button mat-icon-button (click)="onEdit(attend)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>
        </td>
      </tr>
    </table>
  </mat-card>

  <ng-template #loading>
    <div fxLayoutAlign="center center">
      <mat-spinner diameter="80"></mat-spinner>
    </div>
  </ng-template>
</div>