<div class="main-container">
  <mat-card class="search" *ngIf="auth.isTimeOfficeAdmin()">
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="10px"
    >
      <mat-form-field fxFlex>
        <input
          matInput
          placeholder="6 Digit Employee Code"
          [formControl]="emp_code"
          pattern="[0-9]{6}"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="fetchAttendance()"
        >
          <mat-option *ngFor="let item of searchResult" [value]="item.emp_code">
            {{ getFullName(item) | titlecase }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="emp_code.invalid"
          >Employee Code should be 6 digit</mat-hint
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="fetchAttendance()"
        [disabled]="emp_code.invalid"
      >
        <mat-icon>search</mat-icon>Search
      </button>
    </div>
  </mat-card>

  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="activeWageMonth; else noWageMonth">
      <mat-card class="table" id="content" *ngIf="attendance; else loading">
        <table style="width:100%" *ngIf="attendance.length > 0; else noData">
          <thead>
            <tr>
              <th width="12%">Day</th>
              <th width="10%">Shift</th>
              <th width="9%">In time</th>
              <th width="9%">Out time</th>
              <th width="10%">Status</th>
              <th width="10%">Modified Status</th>
              <th width="25%">Remarks</th>
              <th width="15%">Action</th>
            </tr>
          </thead>
          <tr
            *ngFor="let attend of attendance"
            [ngClass]="{
              absent:
                (attend.attendance_status == onAbsentStatus ||
                  attend.attendance_status == on5DLateStatus) &&
                !attend.modified_status,

              'half-day':
                attend.attendance_status == onHalfDayStatus &&
                !attend.modified_status
            }"
          >
            <td>{{ attend.day | date: "mediumDate" }}</td>
            <td>{{ attend.shift.name }}</td>
            <td>{{ attend.in_time }}</td>
            <td>{{ attend.out_time }}</td>
            <td>{{ getAttendanceStatus(attend.attendance_status) }}</td>
            <td>{{ modifiedStatus(attend) }}</td>
            <td>{{ attend.remarks }}</td>
            <td>
              <!-- For time officer, reprocessing attendance and 
                changing shift will be possible -->
              <ng-container *ngIf="auth.isTimeOfficeAdmin()">
                <button
                  *ngIf="attend.attendance_status != presentStatus"
                  mat-icon-button
                  (click)="changeShift(attend)"
                  color="accent"
                >
                  <mat-icon>edit</mat-icon>
                </button>

                <!-- <button
                  *ngIf="
                    (attend.shift.is_general &&
                      attend.attendance_status != onHolidayStatus) ||
                    (!attend.shift.is_general &&
                      attend.attendance_status != onOffDayStatus)
                  "
                  mat-icon-button
                  (click)="reProcessAttendance(attend)"
                  color="primary"
                >
                  <mat-icon>sync</mat-icon>
                </button> -->
              </ng-container>

              <!-- For normal employees this button will be visible -->
              <button
                *ngIf="
                  attend.attendance_status &&
                  !attend.modified_status &&
                  !(
                    attend.attendance_status == officialAbsentStatus ||
                    attend.attendance_status == presentStatus ||
                    attend.attendance_status == onHolidayStatus ||
                    attend.attendance_status == onOffDayStatus
                  )
                "
                mat-icon-button
                (click)="openRegForm(attend)"
                color="warn"
              >
                <mat-icon>warning</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </mat-card>
    </ng-container>
  </ng-container>

  <ng-template #noWageMonth>
    <mat-card>No current wage month available!!!</mat-card>
  </ng-template>

  <ng-template #loading>
    <div fxLayoutAlign="center center">
      <mat-spinner diameter="80"></mat-spinner>
    </div>
  </ng-template>

  <ng-template #noData>
    <div style="padding: 25px">
      There are no attendance data available corresponding to the period
      {{ startDate | date: "mediumDate" }} to {{ endDate | date: "mediumDate" }}
    </div>
  </ng-template>
</div>

<div id="action-btn">
  <div class="fab">
    <button
      mat-fab
      (click)="printAttendance()"
      matTooltip="Print Attendance Statement"
      matTooltipPosition="left"
      color="primary"
    >
      <mat-icon>print</mat-icon>
    </button>
  </div>

  <div class="fab">
    <button
      mat-fab
      (click)="nextWageMonth()"
      matTooltip="Next Wage Month"
      matTooltipPosition="left"
      color="accent"
    >
      <mat-icon>fast_forward</mat-icon>
    </button>
  </div>

  <div class="fab">
    <button
      mat-fab
      (click)="prevWageMonth()"
      matTooltip="Previous Wage Month"
      matTooltipPosition="left"
      color="accent"
    >
      <mat-icon>fast_rewind</mat-icon>
    </button>
  </div>
</div>
