#content {
  padding: 0px !important;
  margin-top: 10px;
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
  }
  td {
    padding: 3px 0px 3px 12px;
    height: 40px;
  }
}

thead {
  background-color: #582c4f;
  opacity: 0.9;
  color: #fff !important;
  th {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding: 12px;
  }
}

#action-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;

  .fab {
    margin-top: 8px;
  }
}

.absent {
  color: #C2153E
}

.half-day {
  color: #1eb00b;
}