mat-list-item {
  height: 54px !important;
  .info {
    margin: 0px !important;
    line-height: 20px;
    font-size: 15px !important;
  }
  .remarks, .officer {
    font-size: 13px !important;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.content {
  padding-top: 10px;
  padding-bottom: 15px;
}
