mat-row {
  min-height: 40px !important;
  // border-bottom: 0px !important;
  .mat-cell {
    font-size: 13px !important;
  }
}

mat-header-row {
  min-height: 44px !important;
}

// .no-padding {
//   padding: 0px;
// }

ul.from_date {
  padding: 2px 0px;
  margin: 0px;
  list-style-type: none;
}