#main-content {
  padding-left: 20px;
  padding-right: 20px;;
}

#head-info {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;

  .wm-btn {
    margin-left: 25px;
    margin-bottom: 10px;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  width: 100%;
}
th,
td {
  padding: 6px;
}
thead {
  background: #714c69;
  color: #fff;
}
th {
  font-weight: bold;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
th,
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}

select {
  padding: 4px 2px;
  border-radius: 5px;
  text-transform: uppercase;
  width: 100%;
}

.bottom-right {
  position: fixed;
  right: 25px;
  bottom: 20px;
}

.button {
  margin-top: 10px;
}

p.error-msg {
  margin: 0px;
  padding: 0px;
  color: red;
  font-size: 11px;
}

.date-info {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  margin: 12px;
}

.card-block {
  padding: 0px;
}

.title {
  margin-bottom: 0px;
}

#action-btn {
  position: fixed;
  bottom: 20px;
  right: 16px;

  .fab {
    margin-top: 8px;
  }
}

.day {
  max-width: 100px;
}