table {
  border-collapse: separate;
  border-spacing: 0;
}
th,
td {
  padding: 6px 10px;
}
thead {
  background: #714c69;
  color: #fff;
}
th {
  font-weight: bold;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
th,
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}

select {
  padding: 2px 8px;
  border-radius: 5px;
}

.bottom-right {
  position: fixed;
  right: 25px;
  bottom: 20px;
}

.button {
  margin-top: 10px;
}

p.error-msg {
  margin: 0px;
  padding: 0px;
  color: red;
  font-size: 11px;
}

.date-info {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  margin: 12px;
}

.card-block {
  padding: 0px;
}

.title {
  margin-bottom: 0px;
}