#header {
  .flex-spacer {
    flex: 1;
  }
  font-size: 14px;
  height: 50px;
  opacity: 0.8;
}

#content {
  padding: 10px 20px;
}

.row {
  padding: 5px;
  font-size: 14px;
}

.action-label {
  text-transform: uppercase;
  margin-right: 15px;
}