<mat-toolbar color="primary" id="header">
  <div fxFlex>Change Shift Duty</div>
  <div class="flex-spacer"></div>
</mat-toolbar>

<section id="content">
  <div id="info" style="margin-bottom: 12px">
    <div class="row">
      <span fxFlex="50">Attendance Status: </span>
      <span fxFlex="50">{{ getStatus(attendance.attendance_status) }}</span>
    </div>
    <div class="row">
      <span fxFlex="50">In Time: </span>
      <span fxFlex="50">{{ attendance.in_time }}</span>
    </div>
    <div class="row">
      <span fxFlex="50">Out Time: </span>
      <span fxFlex="50">{{ attendance.out_time }}</span>
    </div>
    <div class="row">
      <span fxFlex="50">Shift: </span>
      <span fxFlex="50">{{ attendance.shift.name }}</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <form
    *ngIf="shifts.length > 0"
    [formGroup]="statusForm"
    (ngSubmit)="onSave()"
  >
    <div fxLayout="column" style="margin-top: 15px">
      <mat-radio-group
        style="margin-bottom: 6px"
        aria-label="Select an option"
        formControlName="action"
      >
        <!-- <mat-radio-button
          value="1"
          class="action-label"
          *ngIf="!isHolidayPresentOff"
        >
          Remove {{ getStatus(attendance.attendance_status) }}
        </mat-radio-button> -->
        
        <mat-radio-button value="2" class="action-label">
          Change Shift Duty
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field fxFlex *ngIf="changeShift">
        <mat-select formControlName="shift" placeholder="Select new shift">
          <mat-option *ngFor="let shift of shifts" [value]="shift.id">
            {{ shift.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="shift.errors?.required">Shift is required</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex *ngIf="action.value">
        <input matInput placeholder="Remarks" formControlName="remarks" />
        <mat-error *ngIf="remarks.errors?.required"
          >Remarks is required</mat-error
        >
      </mat-form-field>
    </div>

    <mat-dialog-actions align="end" id="buttons">
      <button
        mat-raised-button
        type="button"
        color="accent"
        (click)="dialogRef.close()"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="isSubmitting || statusForm.invalid"
      >
        Save
      </button>
    </mat-dialog-actions>
  </form>
</section>
