<h3 mat-dialog-title>Add New Group</h3>

<form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <mat-form-field fxFlex>
      <input matInput placeholder="Group Name" formControlName="name">
      <mat-error *ngIf="name.errors?.required">Group name is required</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="is_general">Night Shift</mat-checkbox>
  </div>

  <mat-dialog-actions align="end" id="buttons">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">Save</button>
  </mat-dialog-actions>
</form>

