<div fxLayout="row" fxLayoutAlign="center center" id="layout">
  <mat-card fxFlex.gt-md="30" fxFlex.md="40" fxFlex.sm="60" fxFlex.lt-sm="90">
    <mat-card-title>NEEPCO HRMS</mat-card-title>
    <mat-card-subtitle>Forgot password?</mat-card-subtitle>

    <form fxLayout="column" id="form" [formGroup]="resetForm">
      <p id="error" *ngIf="errorMsg">{{ errorMsg }}</p>
      <p id="info" *ngIf="infoMsg">{{ infoMsg }}</p>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder=" 6 Digit Employee Code"
          formControlName="emp_code"
        />
        <mat-error *ngIf="emp_code.errors?.required">
          Employee Code is required
        </mat-error>
        <mat-error *ngIf="emp_code.dirty && emp_code.errors?.pattern">
          Employee code should be six digits
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="emp_code.errors?.required">
          Date of birth is required
        </mat-error>
      </mat-form-field> -->

      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email provided in HRMS"
          formControlName="email"
          email
        />
        <mat-error *ngIf="email.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="email.dirty && email.errors?.email">
          Please enter a valid email
        </mat-error>
      </mat-form-field>

      <div id="buttons" fxLayout="column">
        <button
          mat-raised-button
          color="accent"
          [disabled]="resetForm.invalid"
          (click)="resetPassword()"
        >
          <mat-icon>update</mat-icon>&nbsp;Reset Password
        </button>
      </div>
      <p id="login">
        Login?
        <a routerLink="/login">Click here</a>
      </p>
    </form>
  </mat-card>
</div>
