<mat-card>
  <mat-card-subtitle>Add new holiday for current year</mat-card-subtitle>
  <form [formGroup]="holidayForm" (ngSubmit)="onSubmit()">
    <div fxLayoutGap="20px" fxLayoutGap.md="15px" fxLayoutGap.lt-md="8px" fxLayout.lt-sm="column">
      <mat-form-field fxFlex="30" fxFlex.md="25">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="name.touched && name.errors?.required">
          is required
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="day">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="day.touched && day.errors?.required">
          is required
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="15">
        <mat-select placeholder="Type" formControlName="type">
          <mat-option *ngFor="let h_type of holiday_types" [value]="h_type">
            {{h_type}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="type.touched && type.errors?.required">
          is required
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="20">
        <mat-select placeholder="Project" formControlName="project_id">
          <mat-option *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="project_id.touched && project_id.errors?.required">
          is required
        </mat-error>
      </mat-form-field>
      <div fxFlex="10">
        <button mat-raised-button *ngIf="_holiday.id"
          color="accent" [disabled]="holidayForm.invalid">Update</button>
        <button mat-raised-button *ngIf="!_holiday.id"
          color="accent" [disabled]="holidayForm.invalid">Add</button>
      </div>
    </div>
  </form>
</mat-card>

<mat-card *ngIf="dataSource" style="padding-top: 8px">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef fxFlex="10"> Sl. No. </mat-header-cell>
      <mat-cell *matCellDef="let holiday; let i = index;" fxFlex="10"> 
        {{ i + 1 + pageIndex*pageSize }} 
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef fxFlex="30"> Name </mat-header-cell>
      <mat-cell *matCellDef="let holiday" fxFlex="30"> {{holiday.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef fxFlex="30"> Date </mat-header-cell>
      <mat-cell *matCellDef="let holiday" fxFlex="30"> {{holiday.day | date:'fullDate'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.lt-md="10"> Type </mat-header-cell>
      <mat-cell *matCellDef="let holiday" fxFlex="15" fxFlex.lt-md="10"> {{holiday.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef fxFlex="15" fxFlex.lt-md="20"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let holiday" fxFlex="15" fxFlex.lt-md="20">
        <button mat-icon-button (click)="onEdit(holiday)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onRemove(holiday)" color="warn">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 30, 50]"
    [length]="dataLength"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    showFirstLastButtons
    (page)="changePage($event)">
  </mat-paginator>
</mat-card>

<mat-card *ngIf="errMsg">
  <p class="errMsg">{{errMsg}}</p>
</mat-card>

<mat-spinner diameter="60" *ngIf="isLoading"></mat-spinner>