#heading {
  margin: 5px 10px;
  font-size: 18px;
  font-weight: 400;
}

#fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.emp-info {
  padding: 3px;
  font-size: 14px !important;
  cursor: pointer;
  &:hover {
    font-weight: 500;
  }
}

.space {
  margin-right: 4px;
}

table {
  th {
    font-weight: 600;
    font-size: 13px;
    text-align: start;
  }
  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
  }
  .btn {
    &:hover {
      cursor: pointer;
    }
  }
}
