<div class="main-container">
  <mat-accordion>
    <div fxLayoutAlign="space-between center" id="heading">
      <span>List of all employees groupwise</span>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <mat-expansion-panel *ngFor="let group of groups">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ group.name }}
        </mat-panel-title>
        <mat-panel-description>
          List of employees in this group
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <table fxFlex matSort (matSortChange)="sortData($event, group)">
          <tr>
            <th fxFlex="10">Sl. No</th>
            <th fxFlex="15" mat-sort-header="first_name">First Name</th>
            <th fxFlex="15" mat-sort-header="last_name">Last Name</th>
            <th fxFlex="15" mat-sort-header="emp_code">Emp Code</th>
            <th fxFlex="25" mat-sort-header="designation">Designation</th>
            <th fxFlex="20">Actions</th>
          </tr>
          <tr *ngFor="let empGroup of empGroupDtls[group.id]; let i = index">
            <td fxFlex="10" fxLayoutAlign="start center">{{ i + 1 }}</td>
            <td fxFlex="15" fxLayoutAlign="start center">
              {{ empGroup.employee.first_name | titlecase }}
            </td>
            <td fxFlex="15" fxLayoutAlign="start center">
              {{ empGroup.employee.last_name | titlecase }}
            </td>
            <td fxFlex="15" fxLayoutAlign="start center">{{ empGroup.employee.emp_code }}</td>
            <td fxFlex="25" fxLayoutAlign="start center">{{ empGroup.employee.designation }}</td>
            <td fxFlex="20" fxLayoutAlign="start center">
              <mat-icon (click)="onEdit(empGroup)" class="btn" color="primary">edit</mat-icon>
              <mat-icon (click)="onDelete(empGroup)" class="btn" color="accent">delete</mat-icon>
            </td>
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<button
  mat-fab
  class="fab-bottom-right"
  matTooltip="Add employee to group"
  matTooltipPosition="left"
  (click)="addEmpToGroup()"
  color="accent"
>
  <mat-icon>add</mat-icon>
</button>
