<div class="main-container">
  <mat-card class="table content">
    <div fxLayoutAlign="space-between center">
      <span class="heading">List of all groups</span>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef fxFlex="10"> Sl. No. </mat-header-cell>
        <mat-cell *matCellDef="let group; let i = index;" fxFlex="10">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef fxFlex> Name </mat-header-cell>
        <mat-cell *matCellDef="let group" fxFlex> {{group.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="is_general">
        <mat-header-cell *matHeaderCellDef fxFlex="20"> General Group </mat-header-cell>
        <mat-cell *matCellDef="let group" fxFlex="20"> {{isGeneral(group.is_general)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="20"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let group" fxFlex="20">
          <button mat-icon-button (click)="onEdit(group)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onRemove(group)" color="warn">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>


<button mat-fab
  class="fab-bottom-right"
  matTooltip="Add new group"
  matTooltipPosition="left"
  (click)="onAddGroup()"
  color="accent">
    <mat-icon>add</mat-icon>
</button>
