
<div fxLayout="row" fxLayoutAlign="start center">
  <div mat-dialog-title fxFlex id="heading">
    <span *ngIf="dialogData.parent_emp_code">Add employee as child node</span>
    <span *ngIf="dialogData.emp_code">Change reporting officer</span>
  </div>
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<div id="container">
  <div fxLayout="row" id="search"
      fxLayoutAlign="space-around center" 
      fxLayoutGap="30px" fxLayoutGap.xs="10px">

    <mat-form-field fxFlex>
      <input matInput placeholder="6 Digit Employee Code" [formControl]="emp_code" pattern="[0-9]{6}" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearch()">
        <mat-option *ngFor="let item of searchResult" [value]="item.emp_code">
          {{ item.first_name | titlecase }} {{ item.last_name | titlecase }}, {{item.designation}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint *ngIf="emp_code.invalid">Employee Code should be 6 digit</mat-hint>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" (click)="onSearch()" [disabled]="emp_code.invalid">
        <mat-icon>search</mat-icon>Search
      </button>
    </div>
  </div>
</div>

<div *ngIf="node; else spinner" fxLayout="column" fxLayoutAlign="start">
  <app-node-info [node]="node"></app-node-info>
  <mat-divider></mat-divider>
  <div fxLayout="row-reverse" id="buttons">
    <button mat-raised-button color="accent" (click)="addChild()" *ngIf="dialogData.parent_emp_code">Add</button>
    <button mat-raised-button color="accent" (click)="changeParent()" *ngIf="dialogData.emp_code">Update</button>
  </div>
</div>

<ng-template #spinner>
  <div fxLayoutAlign="center start">
    <mat-spinner *ngIf="isSearching && !errMsg" diameter="50"></mat-spinner>
    <p *ngIf="errMsg">{{ errMsg }}</p>
  </div>
</ng-template>
