
<div fxLayout="row" fxLayoutAlign="start center">
  <div mat-dialog-title fxFlex id="heading">Add employee as child node</div>
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<div id="container">
  <div fxLayout="row" id="search"
      fxLayoutAlign="space-around center" 
      fxLayoutGap="30px" fxLayoutGap.xs="10px">

    <mat-form-field fxFlex >
      <input matInput placeholder="Employee Code" [(ngModel)]="emp_code" #empCode="ngModel" pattern="[0-9]{6}">
      <mat-hint *ngIf="empCode.invalid">Employee Code should be 6 digit</mat-hint> 
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="onSearch()" [disabled]="empCode.invalid">
        <mat-icon>search</mat-icon>Search
      </button>
    </div>
  </div>
</div>

<div *ngIf="node; else spinner" fxLayout="column" fxLayoutAlign="start">
  <app-node-info [node]="node"></app-node-info>
  <mat-divider></mat-divider>
  <div fxLayout="row-reverse">
    <button mat-raised-button color="accent" (click)="dialogRef.close()">Add</button>
  </div>
</div>

<ng-template #spinner>
  <mat-spinner *ngIf="isSearching && !errMsg" diameter="50"></mat-spinner>
  <p *ngIf="errMsg">{{ errMsg }}</p>
</ng-template>
