<div class="main-container">
  <mat-tab-group>
    <mat-tab label="Pending Feedbacks">
      <app-training-table *ngIf="pendingSource"
        [dataSource]="pendingSource"
        [dataLength]="pendingLength"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        isFeedbackPage="true"
        (pageChange)="changePendingPage($event)">
      </app-training-table>    
    </mat-tab>

    <mat-tab label="Submitted Feedbacks">
      <app-training-table *ngIf="submittedSource"
        [dataSource]="submittedSource"
        [dataLength]="submittedLength"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        isFeedbackPage="true"
        (pageChange)="changeSubmittedPage($event)">
      </app-training-table>    
    </mat-tab>
  </mat-tab-group>
  
  <mat-spinner diameter="60" *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="errMsg" class="error-info">
    <p class="errMsg">{{errMsg}}</p>
  </mat-card>
</div>
