<mat-tab-group>
  <mat-tab label="Pending Request">
    <app-attend-table
      *ngIf="approvalRequests; else loading1"
      [dataSource]="approvalRequests"
      [dataLength]="pendingDataLength"
      [pageSize]="pendingPageSize"
      [pageIndex]="pendingPageIndex"
      [actions]="pendingActions"
      (pageChange)="pendingChangePage($event)"
      (onAction)="updateApprovalPage($event)"
    ></app-attend-table>

    <ng-template #loading1>
      <div fxLayoutAlign="center center">
        <mat-spinner diameter="80"></mat-spinner>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Processed Request">
    <app-attend-table
      *ngIf="processedRequests; else loading2"
      [dataSource]="processedRequests"
      [dataLength]="processedDataLength"
      [pageSize]="processedPageSize"
      [pageIndex]="processedPageIndex"
      (pageChange)="processedChangePage($event)"
    ></app-attend-table>

    <ng-template #loading2>
      <div fxLayoutAlign="center center">
        <mat-spinner diameter="80"></mat-spinner>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
