<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" id="leave-dashboard">
  <div fxFlex="60" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-card fxFlex class="card-block">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/a.svg">
            <h3 matLine> Casual Leave </h3>
            <p matLine>Balance: {{cl_balance}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button 
          [disabled]="cl_balance < 1"  
            routerLink="/leave/leave-apply-clrh">
              Apply Casual Leave
          </button>
        </div>
      </mat-card>
      <mat-card fxFlex class="card-block">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/e.svg">
            <h3 matLine>Restricted Holiday</h3>
            <p matLine>Balance: {{rh_balance}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button
            [disabled]="rh_balance < 1"  
            routerLink="/leave/leave-apply-clrh">
              Apply Restricted Holiday
          </button>
        </div>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-card fxFlex class="card-block">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/c.svg">
            <h3 matLine>Earned Leave</h3>
            <p matLine>Balance: {{el_balance}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button
            [disabled]="el_balance < 1" 
            [routerLink]="['/leave/leave-apply', el_code]">
              Apply Earned Leave
          </button>
        </div>
      </mat-card>
      <mat-card fxFlex class="card-block">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/d.svg">
            <h3 matLine>Half Pay Leave</h3>
            <p matLine>Balance: {{hpl_balance}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button 
            [disabled]="hpl_balance < 1" 
            [routerLink]="['/leave/leave-apply', hpl_code]">
              Apply Half Pay Leave
          </button>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxFlex="40" fxLayout="column">
    <mat-card fxFlex class="info-card">
      <div *ngIf="pendingJoiningReports.length < 1 && processPendingJRs.length < 1">
        <div class="alert-box notice"><span class="label">notice: </span>You dont have any pending tasks.</div>
      </div>

      <div *ngFor="let pending of pendingJoiningReports">
        <!-- If joining report is yet to be submitted or is callbacked -->
        <div class="alert-box warning" *ngIf="pending.joiningReport.status == jr_pending || pending.joiningReport.status == jr_callbacked">
          <span class="label">notice: </span>
          To submit joining report for {{leaveType.getLeaveType(pending.leaveDetails[0].leave_type)}} 
          <strong>Application No. {{pending.id}} </strong> 
          <span class="link" (click)="openJoiningReport(pending)">click here</span>.
        </div>

        <!-- If joining report has been submitter or recommended -->
        <div class="alert-box notice" *ngIf="(pending.joiningReport.status == jr_submitted || pending.joiningReport.status == jr_recommended)">
          <span class="label">notice: </span>
          <span>Your {{leaveType.getLeaveType(pending.leaveDetails[0].leave_type)}} </span>
          <strong>Application No. {{pending.id}} </strong> 
          <span>joining letter has been {{getJRStatus(pending.joiningReport.status)}} </span>
          <span class="link" (click)="openJoiningReport(pending)">click here</span>.
        </div>
      </div>

      <div *ngFor="let processPending of processPendingJRs">
        <div class="alert-box success">
          <span class="label">notice: </span>
          Please proccess joining report for {{leaveType.getLeaveType(processPending.leaveDetails[0].leave_type)}} 
          <strong>Application No. {{processPending.id}} </strong> 
          <span class="link" (click)="openJoiningReport(processPending)">click here</span>.
        </div>
      </div>
    </mat-card>
  </div>
</div>
