<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" id="leave-dashboard">
  <div fxFlex="60" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-card fxFlex class="card-block">
        <mat-list>
          <mat-list-item>
            <!-- <mat-icon matListIcon>folder</mat-icon> -->
            <img matListAvatar src="assets/icons/a.svg">
            <h3 matLine> Casual Leave </h3>
            <p matLine>Balance: {{cl_balance}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button routerLink="/leave/leave-apply-clrh">Apply Casual Leave</button>
        </div>
      </mat-card>
      <mat-card fxFlex class="card-block">
        <mat-list>
          <mat-list-item>
            <!-- <mat-icon matListIcon>folder</mat-icon> -->
            <img matListAvatar src="assets/icons/e.svg">
            <h3 matLine>Restricted Holiday</h3>
            <p matLine>Balance: {{rh_balance}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button routerLink="/leave/leave-apply-clrh">Apply Restricted Holiday</button>
        </div>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-card fxFlex class="card-block">
        <mat-list>
          <mat-list-item>
            <!-- <mat-icon matListIcon>folder</mat-icon> -->
            <img matListAvatar src="assets/icons/c.svg">
            <h3 matLine>Earned Leave</h3>
            <p matLine>Balance: {{el_balance}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button [routerLink]="['/leave/leave-apply', el_code]">Apply Earned Leave</button>
        </div>
      </mat-card>
      <mat-card fxFlex class="card-block">
        <mat-list>
          <mat-list-item>
            <!-- <mat-icon matListIcon>folder</mat-icon> -->
            <img matListAvatar src="assets/icons/d.svg">
            <h3 matLine>Medical Leave</h3>
            <p matLine>Balance: {{hpl_balance}}</p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button [routerLink]="['/leave/leave-apply', ml_code]">Apply Medical Leave</button>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxFlex="40" fxLayout="column">
    <mat-card fxFlex>5</mat-card>
  </div>
</div>
