<mat-toolbar id="side-header" class="mat-elevation-z6">
  <img src="assets/images/logo.gif" width="50px" height="48px">
  <span id="brand-name">HRMS</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button fxHide.gt-sm (click)="toggleMenu()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</mat-toolbar>

<mat-nav-list>
  <div class="group-title">
    <span>Getting started</span>
  </div>
  <mat-list-item
    (click)="menuService.menuToggle(false)"
    *ngFor="let page of pages"  
    [routerLink]="page.path"
    routerLinkActive="active">
    
    <mat-icon matListIcon>{{ page.icon }}</mat-icon>
    <span class="page-name">{{ page.name}}</span>
  </mat-list-item>
</mat-nav-list>