#side-header {
  background-color: #F5EEF8 !important;
  // background-color: #e0e0e0 !important;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 24px;
  #brand-name {
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    font-size: 22px;
    font-weight: 400;
    color: #6b4662;
  }
  z-index: 100;
}

mat-divider {
  background: #ebe6ea !important;
}

mat-list-item {
  color: #6b4662 !important;
  font-size: 15px !important;
  font-weight: 400;
  mat-icon {
    font-size: 20px !important;
    display: flex;
    align-items: center;
  }
}

.active {
  background-color: #582c4f;
  mat-icon { color: #B99650 !important };
  color: #fff !important;
  &:hover, &:focus {
    background-color: #582c4f;  
  }
}

.group-title {
  color: #6b4662 !important;
  font-size: 13px;
  text-transform: uppercase;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-weight: 500;
}

.page-name {
  margin-left: 5px;
}