<mat-toolbar id="side-header">
  <img src="assets/images/logo.gif" width="50px" height="48px">
  <span id="brand-name">HRMS</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button fxHide.gt-sm (click)="toggleMenu()">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>

<mat-nav-list>
  <div class="group-title">
    <span>Navigation</span>
  </div>
  <mat-list-item
    (click)="menuService.menuToggle()"
    routerLink="/training"
    routerLinkActive="active">
    
    <mat-icon matListIcon>info</mat-icon>
    <span class="page-name">Training</span>
  </mat-list-item>

  <mat-list-item
    (click)="menuService.menuToggle()"
    routerLink="/leave"
    routerLinkActive="active">
    
    <mat-icon matListIcon>mood</mat-icon>
    <span class="page-name">Leave</span>
  </mat-list-item>

  <mat-list-item
    *ngIf="auth.isAdmin()"
    (click)="menuService.menuToggle()"
    routerLink="/administrator"
    routerLinkActive="active">
    
    <mat-icon matListIcon>accessibility_new</mat-icon>
    <span class="page-name">HR Admin</span>
  </mat-list-item>
</mat-nav-list>