#side-header {
  // background-color: #3c4252 !important; 
  background: #F5EEF8;
  // color: rgba(255,255,255,.87)!important;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 24px;
  #brand-name {
    margin-left: 10px;
    font-family: 'Sofia', cursive;
    line-height: 28px;
    font-size: 24px;
    font-weight: 300;
  }
  z-index: 100;
}

mat-list-item {
  color: #fff !important;
  font-size: 14px !important;
  mat-icon {
      font-size: 18px !important;
      display: flex;
      align-items: center;
  }
}

.active {
  background-color: #039be5;
  &:hover, &:focus {
      background-color: #039be5;
  }
}

.group-title {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(221, 215, 215, 0.87)!important;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-weight: 500;
}

.page-name {
  margin-left: 5px;
}