<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button fxHide.gt-sm (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="flex-spacer"></div>

    <button mat-button class="user-profile notification" [matMenuTriggerFor]="notification">
      <mat-icon>notifications</mat-icon>
    </button>
    <mat-menu #notification [overlapTrigger]="false">
      <button mat-menu-item>Notification 1</button>
      <button mat-menu-item>Notification 2</button>
      <button mat-menu-item>Notification 3</button>
      <button mat-menu-item>Notification 4</button>
    </mat-menu>

    <button mat-button class="user-profile" [matMenuTriggerFor]="appMenu">
      <mat-icon>account_circle</mat-icon>&nbsp;
      <span class="name" *ngIf="auth.currentUser">{{ auth.currentUser.name }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>face</mat-icon>Profile
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>Settings
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>Logout
      </button>
    </mat-menu>

  </mat-toolbar>