mat-toolbar { 
  padding-right: 12px;
  padding-left: 14px; 
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #F5EEF8 !important;
  // background-color: #e0e0e0 !important;
  height: 64px !important;
  z-index: 100;
}

.flex-spacer {
  flex: 1;
}

.user-profile {
  height: 68px;
  font-size: 14px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  mat-icon {
    color: rgba(0, 0, 0, 0.54) !important;
  }
}

.notification {
  padding: 0px;
  min-width: 60px !important;
}
