#container {
  padding: 0px 10px;
}

#header {
  margin-bottom: 20px;
}

#calendar {
  padding-top: 15px;
}


#leave-info {
  margin-bottom: 20px;
}

h3.month {
  margin: 0px;
  font-size: 20px;
}

h4.list-heading{
  margin: 0px;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.title {
  font-size: 12px;
}

.bold {
  font-weight: 600;
}

.red {
  background-color: #ad2121;
}

.yellow {
  background-color: #e3bc08;
}

.blue {
  background-color: #1e90ff;
}