<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
  <mat-card fxFlex="70">
    <div fxLayout="row" fxLayoutAlign="space-between center" id="header">
      <mat-button-toggle-group color="primary">
        <mat-button-toggle mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">Previous
        </mat-button-toggle>

        <mat-button-toggle mwlCalendarToday checked="true" [(viewDate)]="viewDate">Today
        </mat-button-toggle>

        <mat-button-toggle class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">Next
        </mat-button-toggle>
      </mat-button-toggle-group>

      <div>
        <h3 class="month">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div [ngSwitch]="view" id="calendar">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
            <span class="title bold">Casual Leave: {{leaveStatus.cl}}</span>
          </div>
          <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
            <span class="title bold">Restricted Holiday: {{leaveStatus.rh}}</span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px">
          <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
            <div class="circle blue"></div>
            <span class="title">Closed Holiday</span>
          </div>
          <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
            <div class="circle yellow"></div>
            <span class="title">Restricted Holiday</span>
          </div>
        </div>
      </div>
      <mwl-calendar-month-view *ngSwitchCase="'month'"
        [viewDate]="viewDate" (dayClicked)="onDayClick($event)" 
        [refresh]="refresh" [events]="events">
      </mwl-calendar-month-view>
    </div>
  </mat-card>

  <mat-card fxFlex="30">
    <form [formGroup]="leaveForm" fxLayout="column" (ngSubmit)="applyLeave()">
      <mat-form-field>
        <mat-select placeholder="Forward to" formControlName="officer_emp_code">
          <mat-option *ngFor="let officer of ctrlOfficers" [value]="officer.emp_code"> 
            {{officer.first_name | titlecase}} {{officer.last_name | titlecase}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="officer_emp_code.errors?.required">Forwarding officer is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Purpose" formControlName="purpose"></textarea>
        <mat-error *ngIf="purpose.errors?.required">Purpose is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contact no" formControlName="contact_no">
        <mat-error *ngIf="contact_no.errors?.required">Mobile number is required</mat-error>
        <mat-error *ngIf="contact_no.errors?.pattern">Mobile number should be 10 digits</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Address during leave" formControlName="address"></textarea>
        <mat-error *ngIf="address.errors?.required">Address is required</mat-error>
      </mat-form-field>

      <div id="leave-info" *ngIf="leaveDays.length > 0">
        <div *ngFor="let leaveDay of leaveDays; let i=index">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="15">{{i+1}}.</div> 
            <div fxFlex="20">{{leaveDay.type}}</div>
            <div fxFlex="50">{{leaveDay.date | date:'mediumDate'}}</div>
            <div fxFlex="15">
              <button mat-icon-button color="warn" type="button" (click)="removeLeave(leaveDay)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
      <button mat-raised-button color="primary" [disabled]="leaveForm.invalid || leaveDays.length < 1">Save</button>
    </form>
  </mat-card>
</div>