#el-container {
  margin: 20px 10px;
}

.leave-balance {
  background: rgb(88, 44, 79);
  opacity: 0.8;   
  color: #fff; 
  font-size: 13px;
  .title {
    font-weight: 400;
    font-size: 14px;
  }
  padding: 14px;
}