<div id="el-container" 
  fxLayout="row"
  fxLayoutAlign="center start">
  
  <div fxLayout="column" fxLayoutGap="20px" fxFlex.md="70" fxFlex.gt-md="60" fxFlex.sm="80">
    <mat-card class="leave-balance">
      <div fxLayout="row" fxLayoutGap="15px">
        <div class="title">Leave Balance:</div>
        <div fxFlex fxLayoutGap="15px" fxLayout="row">
          <span *ngFor="let status of leaveStatuses">
            {{status.leave_type}}: {{status.balance}}
          </span>
        </div>
      </div>
    </mat-card>
  
    <mat-card>
      <mat-card-title *ngIf="code == el_code">Apply Earned Leave</mat-card-title>
      <mat-card-title *ngIf="code == ml_code">Apply Medical Leave</mat-card-title>
      <form [formGroup]="leaveForm" fxLayout="column" (ngSubmit)="applyLeave()">
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex>
            <input matInput [matDatepicker]="leave_from" placeholder="From date" formControlName="from_date">
            <mat-datepicker-toggle matSuffix [for]="leave_from"></mat-datepicker-toggle>
            <mat-datepicker #leave_from></mat-datepicker>
            <mat-error *ngIf="from_date.errors?.required">From date is required</mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex>
            <input matInput [matDatepicker]="leave_to" placeholder="To date" formControlName="to_date">
            <mat-datepicker-toggle matSuffix [for]="leave_to"></mat-datepicker-toggle>
            <mat-datepicker #leave_to></mat-datepicker>
            <mat-error *ngIf="to_date.errors?.required">To date is required</mat-error>
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex>
            <input matInput [matDatepicker]="pref_from" placeholder="Prefix from date" formControlName="prefix_from">
            <mat-datepicker-toggle matSuffix [for]="pref_from"></mat-datepicker-toggle>
            <mat-datepicker #pref_from></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field fxFlex>
            <input matInput [matDatepicker]="pref_to" placeholder="Prefix to date" formControlName="prefix_to">
            <mat-datepicker-toggle matSuffix [for]="pref_to"></mat-datepicker-toggle>
            <mat-datepicker #pref_to></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex>
            <input matInput [matDatepicker]="suff_from" placeholder="Suffix from date" formControlName="suffix_from">
            <mat-datepicker-toggle matSuffix [for]="suff_from"></mat-datepicker-toggle>
            <mat-datepicker #suff_from></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field fxFlex>
            <input matInput [matDatepicker]="suff_to" placeholder="Suffix to date" formControlName="suffix_to">
            <mat-datepicker-toggle matSuffix [for]="suff_to"></mat-datepicker-toggle>
            <mat-datepicker #suff_to></mat-datepicker>
          </mat-form-field>
        </div>
  
        <mat-form-field>
          <mat-select placeholder="Forward to" formControlName="officer_emp_code">
            <mat-option *ngFor="let officer of ctrlOfficers" [value]="officer.emp_code">
              {{officer.first_name | titlecase}} {{officer.last_name | titlecase}}, {{officer.designation}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="officer_emp_code.errors?.required">Forwarding officer is required</mat-error>
        </mat-form-field>
        
        <mat-form-field fxFlex>
          <textarea rows="2" matInput placeholder="Purpose" formControlName="purpose"></textarea>
          <mat-error *ngIf="purpose.errors?.required">Purpose is required</mat-error>
        </mat-form-field>
  
        <mat-checkbox formControlName="station_leave">Station Leave Required</mat-checkbox>
  
        <mat-form-field>
          <input matInput placeholder="Contact no" formControlName="contact_no">
          <mat-error *ngIf="contact_no.errors?.required">Mobile number is required</mat-error>
          <mat-error *ngIf="contact_no.errors?.pattern">Mobile number should be 10 digits</mat-error>
        </mat-form-field>
  
        <mat-form-field fxFlex>
          <textarea rows="2" matInput placeholder="Address during leave" formControlName="address"></textarea>
          <mat-error *ngIf="address.errors?.required">Address is required</mat-error>
        </mat-form-field>   
        
        <button mat-raised-button color="primary">Apply Leave</button>
      </form>
    </mat-card>
  </div>
</div>