<div class="main-container">
  <mat-card>
    <div fxLayoutAlign="space-between center" id="head-info">
      <span>Wage Period from {{ startDate | date:'mediumDate'}} to {{ endDate | date:'mediumDate'}}</span>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <section fxLayout="row" fxLayout.lt-md="column">
      <div *ngIf="workDays" fxFlex class="box">
        <div *ngFor="let weekend of weekends" fxLayout="row" class="row">
          <div fxFlex="60">{{ formatDate(weekend) }}</div>
          <div fxFlex="40">
            <button (click)="markWorkDay(weekend)" *ngIf="!workingDay(weekend)">
              Mark Work Day
            </button>
            <button (click)="unmarkWorkDay(workingDay(weekend))" *ngIf="workingDay(weekend)">
              Remove Work Day
            </button>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div fxFlex class="box">
        <h3>List of regular groups</h3>
        <div *ngFor="let group of genGroups" fxLayout="row">
          <div fxFlex>{{group.name}}</div>
          <div fxFlex>

          </div>
          <div fxFlex>
            <button (click)="changeTiming()">Change Timing</button>
          </div>
        </div>
      </div>
    </section>
  </mat-card>
</div>
