<div class="main-container">
  <mat-card>
    <section>
      <div fxLayoutAlign="space-between center" fxLayout="row" style="margin-bottom: 10px">
        <div id="head-info">
          <span class="title">Wage Period:</span>
          <span>{{ startDate | date: "mediumDate" }} </span>
          <span>to </span>
          <span>{{ endDate | date: "mediumDate" }} </span>
        </div>
        <div>
          <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="row" id="column-name">
        <div fxFlex="30">Day</div>
        <div fxFlex="30">Action</div>
        <div fxFlex="30">Remarks</div>
      </div>

      <div
        *ngFor="let date of dates"
        fxLayout="row"
        fxLayoutAlign="start center"
        class="row"
      >
        <div fxFlex="30">{{ formatDate(date) }}</div>
        <div *ngIf="isSundaySaturday(date)" fxFlex="30">
          <button (click)="markAsWorkingDay()" class="btn-action">
            Mark Working Day
          </button>
        </div>
        <div *ngIf="findHoliday(date)">dasd</div>
      </div>
    </section>


  </mat-card>
</div>
