#head-info {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  .title {
    margin-right: 20px;
  }
}

#column-name {
  padding: 6px 10px;
  font-weight: 600;
  margin-top: 15px;
}

.row {
  min-height: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 6px 10px;
}
