#head-info {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.box {
  padding: 5px 15px;
}

.title {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 17px;
}

.btn {
  // color: #20bf6b !important;
  text-transform: uppercase;
  background: #ffffff;
  font-size: 11px;
  padding: 5px;
  border: 2px solid #582c4f !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  &:hover {
    color: #B99650 !important;
    border-radius: 50px;
    border-color: #B99650 !important;
    transition: all 0.3s ease 0s;
  }
}

section {
  margin-top: 10px;
}

table {
  width: 100%;
  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
  }
  th {
    text-align: left;
  }
}

#gen-btn {
  margin-top: 10px;
}

.wm-btn {
  margin-left: 25px;
  margin-bottom: 10px;
}