<div class="main-container">
  <mat-card class="table content">
    <div class="heading" fxLayoutAlign="space-between center">
      <span>Training needs for the assessment year {{needInfo.year}}</span>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef fxFlex="7"> Sl. No </mat-header-cell>
        <mat-cell *matCellDef="let need; let i = index;" fxFlex="7">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="training_label">
        <mat-header-cell *matHeaderCellDef fxFlex="15"> Label / Category </mat-header-cell>
        <mat-cell *matCellDef="let need" fxFlex="15"> {{need.training_label.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="topic">
        <mat-header-cell *matHeaderCellDef fxFlex> Training Need </mat-header-cell>
        <mat-cell *matCellDef="let need" fxFlex> {{need.topic}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="need_type">
        <mat-header-cell *matHeaderCellDef fxFlex="11"> Need Type </mat-header-cell>
        <mat-cell *matCellDef="let need" fxFlex="11"> {{ executiveNeedService.getNeedType(need.need_type) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef fxFlex="11"> Duration </mat-header-cell>
        <mat-cell *matCellDef="let need" fxFlex="11"> {{ executiveNeedService.getDuration(need.duration) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="hod_remarks">
        <mat-header-cell *matHeaderCellDef fxFlex> HOD Remarks </mat-header-cell>
        <mat-cell *matCellDef="let need" fxFlex>
          <span>{{need.hod_remarks}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="10"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let need" fxFlex="10">

          <ng-container *ngIf="needInfo.status == needs_created || needInfo.status == needs_returned">
            <button mat-icon-button color="accent" (click)="onEdit(need)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="onDelete(need)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>

          <ng-container *ngIf="auth.currentUser.emp_code == needInfo.addressee">
            <button mat-icon-button color="accent" (click)="addRemark(need)">
              <mat-icon *ngIf="!need.hod_remarks">add</mat-icon>
              <mat-icon *ngIf="need.hod_remarks">edit</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>

  <mat-card class="table content">
    <div fxLayout="row" fxLayoutGap="20px">
      <ng-container *ngIf="needInfo.status == needs_created || needInfo.status == needs_returned ||
        (needInfo.status == needs_submitted && needInfo.addressee == auth.currentUser.emp_code)">
        <div fxFlex="50" >
          <app-workflow [needInfo]="needInfo" *ngIf="dataSource && dataSource.data.length > 0">
          </app-workflow>
        </div>

        <mat-divider [vertical]="true"></mat-divider>
      </ng-container>

      <mat-list fxFlex="50">
        <h2 class="heading" *ngIf=" needInfo.training_need_info_hists.length > 0">Training Needs Info History</h2>
        <mat-list-item *ngFor="let hist_info of needInfo.training_need_info_hists; let i=index">
          <h3 matLine class="info">
            <span>{{i + 1}}.&nbsp;</span>
            <span>{{needsInfoService.getNeedsInfoStatus(hist_info.workflow_action)}}</span>
            <span>&nbsp;on&nbsp;</span>
            <span>{{hist_info.updated_at | date:'mediumDate'}}</span>
          </h3>
          <p matLine class="remarks">{{hist_info.remarks}}</p>
          <p matLine class="officer">
            <span *ngIf="hist_info.officer"> -- by {{ getFullName(hist_info.officer) | titlecase }} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>

<button mat-fab
  *ngIf="needInfo.status == needs_created || needInfo.status == needs_returned"
  class="fab-bottom-right"
  matTooltip="Add Training Needs"
  matTooltipPosition="left"
  color="accent"
  (click)="addTrainingNeed()">
    <mat-icon>add</mat-icon>
</button>
