:host {
  font-size: 14px !important;
}

#header {
  .flex-spacer {
    flex: 1;
  }
  font-size: 14px;
  height: 52px;
  opacity: 0.8;
}

#container {
  margin: 15px 20px 20px 20px;
}

#buttons {
  margin-bottom: 10px;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
}

.info {
  text-transform: capitalize;
}

.row {
  margin-top: 5px;
}

.divider {
  margin: 10px 0px;
}

mat-radio-group {
  margin-top: 10px !important;
  mat-radio-button {
    margin-right: 10px;
  }
}
