#header {
  .flex-spacer {
    flex: 1;
  }
  font-size: 14px;
  height: 50px;
  opacity: 0.8;
}

#content {
  padding: 10px 20px;
}

.radio-group {
  margin: 5px 0;
}

.radio-button {
  margin: 5px;
}