<div class="main-container">
  <mat-card class="table content">
    <div fxLayoutAlign="space-between center">
      <span class="heading">List of all shifts</span>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef fxFlex="7"> Sl. No. </mat-header-cell>
        <mat-cell *matCellDef="let shift; let i = index;" fxFlex="7">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef fxFlex="16"> Name </mat-header-cell>
        <mat-cell *matCellDef="let shift" fxFlex="16"> {{shift.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="in_time_start">
        <mat-header-cell *matHeaderCellDef fxFlex="10"> In Time Start </mat-header-cell>
        <mat-cell *matCellDef="let shift" fxFlex="10"> {{shift.in_time_start}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="in_time_end">
        <mat-header-cell *matHeaderCellDef fxFlex="10"> In Time End </mat-header-cell>
        <mat-cell *matCellDef="let shift" fxFlex="10"> {{shift.in_time_end}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="out_time_start">
        <mat-header-cell *matHeaderCellDef fxFlex="10"> Out Time Start </mat-header-cell>
        <mat-cell *matCellDef="let shift" fxFlex="10"> {{shift.out_time_start}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="out_time_end">
        <mat-header-cell *matHeaderCellDef fxFlex="11"> Out Time End </mat-header-cell>
        <mat-cell *matCellDef="let shift" fxFlex="11"> {{shift.out_time_end}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="late_time">
        <mat-header-cell *matHeaderCellDef fxFlex="11"> Late Time </mat-header-cell>
        <mat-cell *matCellDef="let shift" fxFlex="11"> {{shift.late_time}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="half_time">
        <mat-header-cell *matHeaderCellDef fxFlex="10"> Half Time </mat-header-cell>
        <mat-cell *matCellDef="let shift" fxFlex="10"> {{shift.half_time}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="15"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let shift" fxFlex="15">
          <button mat-icon-button (click)="onEdit(shift)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onRemove(shift)" color="warn">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-card>
</div>

<button mat-fab
  class="fab-bottom-right"
  matTooltip="Add new shift"
  matTooltipPosition="left"
  (click)="onAddShift()"
  color="accent">
    <mat-icon>add</mat-icon>
</button>
