<div id="main" fxLayout="column">
  <mat-sidenav-container fxFlex>
    <mat-sidenav class="mat-elevation-z5" [mode]="mode" [opened]="opened" *ngIf="!isLoginPath()">
      <app-sidenav fxFlex fxLayout="column"></app-sidenav>
    </mat-sidenav>
    
    <mat-sidenav-content fxLayout="column" id="wrapper">
      <app-header *ngIf="!isLoginPath()"></app-header>
      <div fxFlex [class.page]="!isLoginPath()">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
</div>












































