mat-sidenav {
  width: 230px;
  background-color: #3c4252 !important;
}

#wrapper {
  height: 100vh;
}

#main {
  height: 100vh;
}

mat-sidenav-container {
  z-index: 1;
}

app-footer {
  margin-top: 56px;
}

.page {
  margin-top: 64px;
  padding-bottom: 40px;
}