<div id="container" fxLayout="column">
  <mat-sidenav-container fxFlex>
    <mat-sidenav class="mat-elevation-z6" [mode]="mode" [opened]="opened" *ngIf="!isLoginPath()">
      <app-sidenav fxFlex fxLayout="column"></app-sidenav>
    </mat-sidenav>
    
    <mat-sidenav-content fxLayout="column" id="main">
      <app-header *ngIf="!isLoginPath()"></app-header>
      <div fxFlex style="margin-top: 60px">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  
</div>












































