<form [formGroup]="needForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <mat-form-field fxFlex>
      <mat-label>Need Type</mat-label>
      <mat-select formControlName="need_type">
        <mat-option *ngFor="let need_type of need_types" [value]="need_type.value">
          {{need_type.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="need_type.touched && need_type.errors?.required">
        Need type is required
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Term Duration</mat-label>
      <mat-select formControlName="duration">
        <mat-option *ngFor="let duration of durations" [value]="duration.value">
          {{duration.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="duration.touched && duration.errors?.required">
        Duration is required
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Label / Category</mat-label>
      <mat-select formControlName="training_label_id">
        <mat-option *ngFor="let label of trainigLabels" [value]="label.id">
          {{label.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="training_label_id.touched && training_label_id.errors?.required">
        Duration is required
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <textarea matInput placeholder="Training Topic / Needs" formControlName="topic" rows="3"></textarea>
      <mat-error *ngIf="topic.touched && topic.errors?.required">
        Training topic is required
      </mat-error>
    </mat-form-field>

    <div fxLayoutAlign="end center" id="buttons">
      <button mat-raised-button matDialogClose class="btn" type="button">Close</button>
      <button mat-raised-button color="primary" class="btn" type="submit"
          [disabled]="isSubmitting || needForm.invalid">Submit</button>
    </div>
  </div>
</form>

