#employee-details {
  mat-divider {
    margin-top: 5px;
  }
  padding-bottom: 0px;
}

#subordinates {
  padding-bottom: 30px;

  h4 {
    width: 100%;
    text-align: center;
    margin: 0px;
    font-size: 16px;
  }

  #add-btn {
    margin-right: -10px;
    margin-top: -10px;
  }
}
