#employee-details {
  mat-divider {
    margin-top: 5px;
  }
  padding-bottom: 0px;
}

#subordinates {
  padding-bottom: 30px;

  h4 {
    width: 100%;
    text-align: center;
    margin: 0px;
    font-size: 16px;
  }
}

.fab-bottom-right {
  position: fixed;
  right: 25px;
  bottom: 25px;
}