<div class="main-container">
  <mat-card class="search">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px" fxLayoutGap.xs="10px">
      <mat-form-field fxFlex>
        <input matInput placeholder="6 Digit Employee Code" [formControl]="emp_code" pattern="[0-9]{6}" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearch()">
          <mat-option *ngFor="let item of searchResult" [value]="item.emp_code">
            {{ getFullName(item) | titlecase }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="emp_code.invalid">Employee Code should be 6 digit</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSearch()" [disabled]="emp_code.invalid">
        <mat-icon>search</mat-icon>Search
      </button>
    </div>
  </mat-card>

  <ng-container *ngIf="node; else spinner">
    <mat-card id="employee-details">
      <div fxLayout="row">
        <div fxFlex="50">
          Employee Information:
          <mat-divider></mat-divider>
          <app-node-info [node]="node"></app-node-info>
        </div>

        <div fxFLex="50">
          Reporting To:
          <app-node-info [node]="node.parent" 
            canEdit="true" 
            (onEdit)="onChangeParent()">
          </app-node-info>
        </div>
      </div>
    </mat-card>

    <mat-card id="subordinates">
      <mat-card-header>
        <h4>List of employees immediately under {{ node.first_name | titlecase }} {{node.last_name | titlecase }}</h4>
      </mat-card-header>

      <mat-table [dataSource]="node.children">
        <ng-container matColumnDef="emp_code">
          <mat-header-cell *matHeaderCellDef fxFlex="20"> Emp Code </mat-header-cell>
          <mat-cell *matCellDef="let subordinate" fxFlex="20"> {{subordinate.emp_code}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef fxFlex="25"> Name </mat-header-cell>
          <mat-cell *matCellDef="let subordinate" fxFlex="25"> 
            {{subordinate.first_name | titlecase}} {{subordinate.last_name | titlecase}} 
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="designation">
          <mat-header-cell *matHeaderCellDef fxFlex="25"> Designation </mat-header-cell>
          <mat-cell *matCellDef="let subordinate" fxFlex="25"> {{subordinate.designation}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="project">
          <mat-header-cell *matHeaderCellDef fxFlex="20"> Project </mat-header-cell>
          <mat-cell *matCellDef="let subordinate" fxFlex="20"> {{subordinate.project}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef fxFlex="10"> Actions </mat-header-cell>
          <mat-cell *matCellDef="let subordinate" fxFlex="10">
            <button mat-icon-button (click)="removeChild(subordinate)" color="warn">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </ng-container>

  <ng-template #spinner>
    <mat-spinner diameter="60" *ngIf="isSearching"></mat-spinner>
    <mat-card *ngIf="errMsg">
      <p class="errMsg">{{errMsg}}</p>
    </mat-card>
  </ng-template>
</div>

<button mat-fab *ngIf="node" 
  class="fab-bottom-right"
  matTooltip="Add a new child"
  matTooltipPosition="left"
  color="accent" 
  (click)="addChild()">
    <mat-icon>add</mat-icon>
</button>