<form [formGroup]="actionForm"
  fxLayout="row"
  fxLayoutGap="20px"
  (ngSubmit)="onSubmit()">

  <mat-form-field fxFlex="40">
    <mat-select placeholder="Select required action" formControlName="workflow_action">
      <mat-option *ngFor="let action of actions" [value]="action.code">
        {{action.name}}
      </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="workflow_action.errors?.required">Workflow action is required</mat-error>
    <mat-error *ngIf="workflow_action.errors?.balance">
      Cannot process as the concerned employee doest not have sufficient leave balance. Please check leave info
    </mat-error> -->
  </mat-form-field>

  <div fxFlex="20">  
    <button mat-raised-button color="primary" [disabled]="isLoading">Submit</button>
  </div>  
</form>    
