<div class="main-container" fxLayout="column">
  <mat-card *ngIf="biometricFileStatus; else loading">
    <table style="width:100%">
      <thead>
        <th>Day</th>
        <th>Machine IDs</th>
        <th>No of Files</th>
        <th>Action</th>
      </thead>
      <tr *ngFor="let status of biometricFileStatus">
        <td>{{status.punch_day | date:'mediumDate'}}</td>
        <td>
          <span *ngFor="let machineId of status.machine_ids">
            {{machineId}}
          </span>
        </td>
        <td>{{status.machine_ids.length}}</td>
        <td>
          <button mat-icon-button color="primary" *ngIf="status.is_processed" (click)="processData(status)">
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button color="accent" *ngIf="!status.is_processed" (click)="processData(status)">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </mat-card>

  <ng-template #loading>
    <div fxLayoutAlign="center center">
      <mat-spinner diameter="80"></mat-spinner>
    </div>
  </ng-template>
</div>