<h3 mat-dialog-title *ngIf="!shift">Add New Shift</h3>
<h3 mat-dialog-title *ngIf="shift">Edit Shift</h3>

<form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field fxFlex appearance="outline" >
        <mat-label>Shift Name</mat-label>
        <input matInput placeholder="Shift Name" formControlName="name">
        <mat-error *ngIf="name.errors?.required">Shift name is required</mat-error>
      </mat-form-field>
      <span></span>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>In time start</mat-label>
        <input matInput [ngxTimepicker]="inTimeStart" [format]="24" formControlName="in_time_start" required />
        <mat-error *ngIf="in_time_start.errors?.required">In Time Start is required</mat-error>
      </mat-form-field>
      <ngx-material-timepicker #inTimeStart></ngx-material-timepicker>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>In time end</mat-label>
        <input matInput [ngxTimepicker]="inTimeEnd" [format]="24" placeholder="In time end" formControlName="in_time_end" required />
        <mat-error *ngIf="in_time_end.errors?.required">In Time end is required</mat-error>
      </mat-form-field>
      <ngx-material-timepicker #inTimeEnd></ngx-material-timepicker>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Out time start</mat-label>
        <input matInput [ngxTimepicker]="outTimeStart" [format]="24" placeholder="Out time start" formControlName="out_time_start"/>
        <mat-error *ngIf="out_time_start.errors?.required">Out Time Start is required</mat-error>
      </mat-form-field>
      <ngx-material-timepicker #outTimeStart></ngx-material-timepicker>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Out time end</mat-label>
        <input matInput [ngxTimepicker]="outTimeEnd" [format]="24" placeholder="Out time end" formControlName="out_time_end"/>
        <mat-error *ngIf="out_time_end.errors?.required">Out Time end is required</mat-error>
      </mat-form-field>
      <ngx-material-timepicker #outTimeEnd></ngx-material-timepicker>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Working hours</mat-label>
        <input matInput placeholder="Working hours" formControlName="working_hours"/>
        <mat-error *ngIf="working_hours.errors?.required">Working hours is required</mat-error>
      </mat-form-field>
      <ngx-material-timepicker #halfTime></ngx-material-timepicker>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Late time</mat-label>
        <input matInput [ngxTimepicker]="lateTIme" [format]="24" placeholder="Late time" formControlName="late_time"/>
        <mat-error *ngIf="late_time.errors?.required">Late time is required</mat-error>
      </mat-form-field>
      <ngx-material-timepicker #lateTIme></ngx-material-timepicker>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-checkbox formControlName="is_night_shift" fxFlex>Night Shift</mat-checkbox>
      <mat-checkbox formControlName="is_general" fxFlex>General Timing</mat-checkbox>
    </div>
  </div>

  <mat-dialog-actions align="end" id="buttons">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">Save</button>
  </mat-dialog-actions>
</form>
