<h3 class="warning">Please execute this processes only in the 1st week of January or 1st week for of July(only for EL and HPL)</h3>
<ul *ngIf="!isLoading">
  <li>
    <button mat-button (click)="leaveYearEndProcessing()">Leave Year End Processing for Previous Year</button>
  </li>
  <li>
    <button mat-button (click)="creditAnnualRestrictedHoliday()">Annual Restricterd Holiday Credit</button>
  </li>
  <li>
    <button mat-button (click)="creditAnnualCasualLeave()">Annual Casual Leave Credit</button>
  </li>
  <li>
    <button mat-button (click)="creditHalfYearlyEarnedLeave()">Half Yearly Earned Leave Credit</button>
  </li>
  <li>
    <button mat-button (click)="creditHalfYearlyHalfPayLeave()">Half Yearly Half Pay Leave Credit</button>
  </li>
</ul>

<div fxLayoutAlign="center center">
  <mat-spinner diameter="70" *ngIf="isLoading"></mat-spinner>
</div>