<mat-toolbar color="primary" id="header">
  <div fxFlex>Training Details</div>
  <div class="flex-spacer"></div>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div id="container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>Training Info</mat-panel-title>
        <mat-panel-description>Course title, objective and other details</mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div fxLayout="column">
          <div class="info" fxFlex>
            <span class="title">Course Title: </span>
            {{ training.course_title }}
          </div>

          <div class="info" fxFlex>
            <span class="title">Objective: </span>
            {{ training.objective }}
          </div>

          <div fxLayout="row" fxLayoutGap="20px">
            <div class="info" fxFlex>
              <span class="title">From Date: </span>
              {{ training.from_date | date:'mediumDate' }}
            </div>
            <div class="info" fxFlex>
              <span class="title">To Date: </span>
              {{ training.to_date | date:'mediumDate' }}
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="20px">
            <div class="info" fxFlex>
              <span class="title">Training Order: </span>
              <span *ngIf="training.training_order_name"
                (click)="downloadOrder(training.id)"
                class="download">Download</span>
            </div>
            <div class="info" fxFlex>
              <span class="title">Venue: </span>
              {{ training.venue }}
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="20px">
            <div class="info" fxFlex>
              <span class="title">Training Type: </span>
              {{ trainingService.getType(training.training_type) }}
            </div>

            <div class="info" fxFlex *ngIf="trainingInstitute">
              <span class="title">Institute Name: </span>
              {{ trainingInstitute.name }}
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="20px" *ngIf="trainingInstitute">

            <div class="info" fxFlex>
              <div class="title">Institute Contact: </div>
              <address>
                <ng-container *ngIf="trainingInstitute.contact_person">{{trainingInstitute.contact_person}}.<br></ng-container>
                <ng-container *ngIf="trainingInstitute.contact_no || trainingInstitute.contact_no2">{{trainingInstitute.contact_no}} {{trainingInstitute.contact_no2}}<br></ng-container>
                <ng-container *ngIf="trainingInstitute.website">Website: {{trainingInstitute.website}}<br></ng-container>
                <ng-container *ngIf="trainingInstitute.address">{{trainingInstitute.address}}<br></ng-container>
                <ng-container *ngIf="trainingInstitute.city || trainingInstitute.state">{{trainingInstitute.city}}, {{trainingInstitute.state}}<br></ng-container>
                <ng-container *ngIf="trainingInstitute.country || trainingInstitute.pin">{{trainingInstitute.country}}, {{trainingInstitute.pin}}</ng-container>
              </address>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" *ngIf="topics.data.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>Session Topics</mat-panel-title>
        <mat-panel-description>Details of training topics</mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div id="topics">
          <mat-table [dataSource]="topics">
            <ng-container matColumnDef="sl">
              <mat-header-cell *matHeaderCellDef fxFlex="15"> Sl. No </mat-header-cell>
              <mat-cell *matCellDef="let topic; let i=index" fxFlex="15">
                {{ i + 1 }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="topic">
              <mat-header-cell *matHeaderCellDef fxFlex="35"> Topic Name </mat-header-cell>
              <mat-cell *matCellDef="let topic" fxFlex="35"> {{topic.topic_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="faculty">
              <mat-header-cell *matHeaderCellDef fxFlex="35"> Faculty Name </mat-header-cell>
              <mat-cell *matCellDef="let topic" fxFlex="35"> {{topic.faculty_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rating">
              <mat-header-cell *matHeaderCellDef fxFlex="15">
                <span *ngIf="isAdminPage">Avg. Rating</span>
                <span *ngIf="!isAdminPage">Rating</span>
              </mat-header-cell>
              <mat-cell *matCellDef="let topic" fxFlex="15">
                <span *ngIf="topic.avg_rating">{{ topic.avg_rating | number:'1.1'}} / 5.0</span>
                <span *ngIf="topic.rating">{{ topic.rating | number:'1.1'}} / 5.0</span>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="topicColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: topicColumns;"></mat-row>
          </mat-table>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="isProfilePage; else partTitle">Participation</ng-container>
          <ng-template #partTitle>Participants</ng-template>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="isProfilePage; else partDesc">Details of employee participation</ng-container>
          <ng-template #partDesc>Details of training participants</ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div id="participants">
          <mat-table [dataSource]="participants" *ngIf="participants.data.length > 0">
            <ng-container matColumnDef="mark" *ngIf="isAdminPage">
              <mat-header-cell *matHeaderCellDef fxFlex="10"> Mark </mat-header-cell>
              <mat-cell *matCellDef="let participant; let i=index" fxFlex="10">
                <mat-checkbox (change)="markParticipant($event, participant)" [checked]="participant.present"></mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sl" *ngIf="!isProfilePage">
              <mat-header-cell *matHeaderCellDef fxFlex="10"> Sl. </mat-header-cell>
              <mat-cell *matCellDef="let participant; let i=index" fxFlex="10">
                {{ i + 1 }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="emp_code">
              <mat-header-cell *matHeaderCellDef fxFlex="15"> Emp Code </mat-header-cell>
              <mat-cell *matCellDef="let participant" fxFlex="15"> {{participant.emp_code}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef fxFlex="28"> Full Name </mat-header-cell>
              <mat-cell *matCellDef="let participant" fxFlex="28"> {{participant.name | titlecase}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="designation">
              <mat-header-cell *matHeaderCellDef fxFlex="27"> Designation </mat-header-cell>
              <mat-cell *matCellDef="let participant" fxFlex="27"> {{participant.designation}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="grade" *ngIf="isProfilePage">
              <mat-header-cell *matHeaderCellDef fxFlex="10"> Grade </mat-header-cell>
              <mat-cell *matCellDef="let participant" fxFlex="10"> {{participant.grade}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="project">
              <mat-header-cell *matHeaderCellDef fxFlex="13"> Project </mat-header-cell>
              <mat-cell *matCellDef="let participant" fxFlex="13"> {{participant.project}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="attendance">
              <mat-header-cell *matHeaderCellDef fxFlex="12"> Attendance </mat-header-cell>
              <mat-cell *matCellDef="let participant" fxFlex="12"> {{getAttendance(participant)}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="participantColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: participantColumns;"></mat-row>
          </mat-table>

          <ng-container *ngIf="isAdminPage &&
              (training.status == training_published || training.status == training_completed)">
            <button mat-raised-button color="primary" (click)="markAsPresent()" class="btn"
              [disabled]="attendance.length < 1">Mark Attendance</button>

            <button mat-raised-button color="primary" (click)="markTrainingCompleted()" class="btn"
              *ngIf="training.status != training_completed">Mark Training Completed</button>
          </ng-container>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)"
        *ngIf="(isAdminPage || isProfilePage) && (feedbacks && feedbacks.length > 0)">
      <mat-expansion-panel-header>
        <mat-panel-title>Feedbacks</mat-panel-title>
        <mat-panel-description>Feedback on the training programme</mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50">Course Duration Rating <span *ngIf="isAdminPage">(avg.)</span></div>
            <div fxFlex="50">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="rating">
                  <span *ngIf="isAdminPage">{{averageRating.duration | number:'1.1'}}</span>
                  <span *ngIf="isProfilePage">{{feedbacks[0].duration_rating | number:'1.1'}}</span>
                  <span> / 5.0</span>
                </div>
                <div>&nbsp;<mat-icon>star</mat-icon></div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50">Course material Rating <span *ngIf="isAdminPage">(avg.)</span></div>
            <div fxFlex="50">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="rating">
                  <span *ngIf="isAdminPage">{{averageRating.content | number:'1.1'}}</span>
                  <span *ngIf="isProfilePage">{{feedbacks[0].content_rating | number:'1.1'}}</span>
                  <span> / 5.0</span>
                </div>
                <div>&nbsp;<mat-icon>star</mat-icon></div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50">Training Methodology Rating <span *ngIf="isAdminPage">(avg.)</span></div>
            <div fxFlex="50">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="rating">
                  <span *ngIf="isAdminPage">{{averageRating.methodology | number:'1.1'}}</span>
                  <span *ngIf="isProfilePage">{{feedbacks[0].methodology_rating | number:'1.1'}}</span>
                  <span> / 5.0</span>
                </div>
                <div>&nbsp;<mat-icon>star</mat-icon></div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50">Administrative Service Rating <span *ngIf="isAdminPage">(avg.)</span></div>
            <div fxFlex="50">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="rating">
                  <span *ngIf="isAdminPage">{{averageRating.admin_service | number:'1.1'}}</span>
                  <span *ngIf="isProfilePage">{{feedbacks[0].admin_service_rating | number:'1.1'}}</span>
                  <span> / 5.0</span>
                </div>
                <div>&nbsp;<mat-icon>star</mat-icon></div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50">Overall Utility Rating <span *ngIf="isAdminPage">(avg.)</span></div>
            <div fxFlex="50">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="rating">
                  <span *ngIf="isAdminPage">{{averageRating.overall_utility | number:'1.1'}}</span>
                  <span *ngIf="isProfilePage">{{feedbacks[0].overall_utility_rating | number:'1.1'}}</span>
                  <span> / 5.0</span>
                </div>
                <div>&nbsp;<mat-icon>star</mat-icon></div>
              </div>
            </div>
          </div>
        </div>

        <mat-divider class="divider"></mat-divider>

        <mat-list>
          <mat-list-item *ngFor="let feedback of feedbacks">
            <h3 matLine class="comment"> {{ feedback.comments }} </h3>
            <div matLine fxLayoutAlign="space-between center">
              <div class="author"> -- by {{ getEmployeeDetail(feedback) }} </div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div class="rating">{{ calculateRating(feedback) | number:'1.1' }} / 5.0</div>
                <div>&nbsp;<mat-icon>star</mat-icon></div>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-dialog-actions align="end" id="close-button">
  <button mat-button color="primary" type="button" mat-dialog-close>Close</button>
</mat-dialog-actions>
