mat-card {
  width: 95% !important;
}

mat-row {
  min-height: 40px !important;
  .mat-cell {
    font-size: 14px !important;
  }
}

mat-header-row {
  font-size: 14px !important;
  min-height: 44px !important;
}

ul.from_date {
  padding: 2px 0px;
  margin: 0px;
  list-style-type: none;
}

mat-card-title {
  font-size: 16px !important;
  font-weight: 500;
}