mat-toolbar {
	height: 65px;
	padding: 0px;
	background: url('/assets/images/header-bg.png');
	background-color: #582c4f;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.header {
	padding-left: 15px;
	padding-top: 15px;
}


.link-btn {
	font-size: 13px;
	text-transform: titlecase;
	border-radius: 0px; 
	color: gainsboro !important
}

.link-active {
   border-bottom: 3px solid #fff;
   color: #fff !important;
}
