<div class="main-container">
  <mat-card id="content">
    <mat-card-title fxLayoutAlign="space-between center">
      <span *ngIf="!_trainingInfo; else edit">New Training</span>
      <ng-template #edit>Edit Training</ng-template>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-title>

    <mat-horizontal-stepper linear='true' #stepper>
      <mat-step [stepControl]="trngInfoForm">
        <form [formGroup]="trngInfoForm" (ngSubmit)="saveTrainingInfo(stepper)">
          <ng-template matStepLabel>Training general information</ng-template>
          <div fxLayout="column" fxLayoutAlign="space-between stretch">
            <div fxLayout="column" class="content">
              <mat-form-field>
                <input matInput placeholder="Training Programme Title" formControlName="course_title">
                <mat-error *ngIf="course_title.errors?.required">Course title is required</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Training Programmed Objective" formControlName="objective">
                <mat-error *ngIf="objective.errors?.required">Training objective is required</mat-error>
              </mat-form-field>

              <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                  <input matInput [matDatepicker]="from" placeholder="Training From Date" formControlName="from_date">
                  <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                  <mat-datepicker #from></mat-datepicker>
                  <mat-error *ngIf="from_date.errors?.required">From date is required</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                  <input matInput [matDatepicker]="to" placeholder="Training To Date" formControlName="to_date">
                  <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                  <mat-datepicker #to></mat-datepicker>
                  <mat-error *ngIf="to_date.errors?.required">To date is required</mat-error>
                </mat-form-field>
              </div>

              <mat-form-field>
                <input matInput placeholder="Training Venue" formControlName="venue">
                <mat-error *ngIf="venue.errors?.required">Training venue is required</mat-error>
              </mat-form-field>

              <mat-radio-group formControlName="training_type">
                <mat-radio-button *ngFor="let trn_type of trainingTypes" [value]="trn_type.code" (change)="onTrainingTypeChange($event)">
                  <span class="margin-right">{{trn_type.name}}</span>
                </mat-radio-button>
              </mat-radio-group>

              <mat-form-field *ngIf="training_type.value == externalTrn">
                <mat-select placeholder="Training Institutes" formControlName="training_institute_id">
                  <mat-option *ngFor="let trg_institute of trgInstitutes" [value]="trg_institute.id">
                    {{trg_institute.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="training_institute_id.errors?.required">Training institute is required</mat-error>
              </mat-form-field>
            </div>

            <div class="buttons">
              <ng-container *ngIf="_trainingInfo && !isEdited; else saveButton">
                <button mat-raised-button type="button" color="primary" matStepperNext>Next</button>
              </ng-container>
              <ng-template #saveButton>
                <button mat-raised-button type="submit" color="primary" [disabled]="isSaving">Save</button>
              </ng-template>
              <button mat-raised-button type="button" (click)="clearTrainingInfo()">Clear</button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Upload Training Order</ng-template>
        <div fxLayout="column" fxLayoutAlign="space-between stretch">
          <div fxFlex class="content">
            <input type="file" accept="application/pdf" (change)="selectFile($event)">
            <div id="upload_progress">
              <span>Upload progress status</span>
              <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
            </div>
            <div id="upload-btn">
              <button mat-raised-button color="accent" (click)="uploadFile()"
                [disabled]="!selectedFile">Upload</button>
            </div>
          </div>

          <div class="buttons">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
            <button mat-raised-button matStepperPrevious>Prev</button>
          </div>
        </div>
      </mat-step>

      <mat-step *ngIf="training_type.value == inhouseTrn">
        <ng-template matStepLabel>Topics for inhouse training</ng-template>
        <div fxLayout="column" fxLayoutAlign="space-between stretch">
          <div fxFlex class="content">
            <form [formGroup]="trngTopicForm" (ngSubmit)="saveTrainingTopic()">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="20px">
                  <mat-form-field fxFlex>
                    <input matInput placeholder="Session Topic" formControlName="topic_name">
                    <mat-error *ngIf="topic_name.errors?.required">Session topic is required</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <input matInput placeholder="Faculty Name" formControlName="faculty_name">
                    <mat-error *ngIf="faculty_name.errors?.required">Faculty name is required</mat-error>
                  </mat-form-field>
                  <div>
                    <button mat-raised-button color="accent" type="submit" *ngIf="!_trainingTopic">Add</button>
                    <button mat-raised-button color="accent" type="submit" *ngIf="_trainingTopic">Update</button>
                  </div>
                </div>
              </div>
            </form>

            <mat-table [dataSource]="topics">
              <ng-container matColumnDef="sl">
                <mat-header-cell *matHeaderCellDef fxFlex="15"> Sl No </mat-header-cell>
                <mat-cell *matCellDef="let topic; let i=index" fxFlex="15">
                  {{ i + 1 }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="topic">
                <mat-header-cell *matHeaderCellDef fxFlex="30"> Topic Name </mat-header-cell>
                <mat-cell *matCellDef="let topic" fxFlex="30"> {{topic.topic_name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="faculty">
                <mat-header-cell *matHeaderCellDef fxFlex="30"> Faculty Name </mat-header-cell>
                <mat-cell *matCellDef="let topic" fxFlex="30"> {{topic.faculty_name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef fxFlex="15"> Actions </mat-header-cell>
                <mat-cell *matCellDef="let topic; let i=index" fxFlex="15">
                  <button mat-icon-button (click)="editTrainingTopic(topic)" color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" (click)="removeTrainingTopic(topic)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="topicColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: topicColumns;"></mat-row>
            </mat-table>
          </div>

          <div class="buttons">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
            <button mat-raised-button matStepperPrevious>Prev</button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Add Participants for the training programme</ng-template>
        <div fxLayout="column" fxLayoutAlign="space-between stretch">
          <div class="content">
            <div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.lt-sm="20px">
              <mat-form-field fxFlex="70">
                <input matInput placeholder="Search employee by name"
                  [formControl]="full_name" [matAutocomplete]="auto">

                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let item of empSearchResult" (onSelectionChange)="addParticipant($event)"
                      [value]="getFullName(item) | titlecase">
                    {{ getFullName(item) | titlecase }}, {{ getOtherInfo(item) }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <div fxFlex="30">
                <button mat-raised-button color="accent" (click)="clearEmployeeSearch()">Clear</button>
              </div>
            </div>

            <mat-table [dataSource]="participants" *ngIf="participants.data.length > 0">
              <ng-container matColumnDef="sl">
                <mat-header-cell *matHeaderCellDef fxFlex="8"> Sl </mat-header-cell>
                <mat-cell *matCellDef="let participant; let i=index" fxFlex="10">
                  {{ i + 1 }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="emp_code">
                <mat-header-cell *matHeaderCellDef fxFlex="12"> Emp Code </mat-header-cell>
                <mat-cell *matCellDef="let participant" fxFlex="12"> {{participant.emp_code}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef fxFlex="23"> Full Name </mat-header-cell>
                <mat-cell *matCellDef="let participant" fxFlex="23"> {{participant.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="designation">
                <mat-header-cell *matHeaderCellDef fxFlex="22"> Designation </mat-header-cell>
                <mat-cell *matCellDef="let participant" fxFlex="22"> {{participant.designation}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="grade">
                <mat-header-cell *matHeaderCellDef fxFlex="10"> Grade </mat-header-cell>
                <mat-cell *matCellDef="let participant" fxFlex="10"> {{participant.grade}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="project">
                <mat-header-cell *matHeaderCellDef fxFlex="15"> Project </mat-header-cell>
                <mat-cell *matCellDef="let participant" fxFlex="15"> {{participant.project}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef fxFlex="10"> Actions </mat-header-cell>
                <mat-cell *matCellDef="let participant; let i=index" fxFlex="10">
                  <button mat-icon-button color="accent" (click)="removeParticipant(participant)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="participantColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: participantColumns;"></mat-row>
            </mat-table>
          </div>

          <div class="buttons">
            <button mat-raised-button color="primary" (click)="publishTraining()"
              *ngIf="_trainingInfo?.status == training_created"
              [disabled]="!_trainingInfo || participants.data.length < 1">Publish</button>

            <button mat-raised-button color="primary" (click)="goToManageTrainings()"
              *ngIf="_trainingInfo?.status != training_created">Manage Trainings</button>

            <button mat-raised-button matStepperPrevious>Prev</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
