#content {
  margin: 20px 30px;
  min-height: 400px;
}

.margin-right {
  margin-right: 20px;
}

.buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse
}

.mat-card-title {
  margin-left: 20px;
  margin-bottom: 0px;
}

.content {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.buttons > button {
  margin-right: 12px;
}

#upload-btn {
  margin-top: 10px;
}

#upload_progress {
  margin-top: 10px;
}