<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="20px"
  *ngIf="auth.isTimeOfficeAdmin(); else employeeView"
>
  <mat-card fxFlex="60">
    <div *ngIf="attendance; else noData">
      <div id="head">
        <span
          >Attendance status for {{ current_shift }} shift on
          {{ attendance.day | date: "mediumDate" }}</span
        >
      </div>
      <div>
        <div class="chart">
          <canvas
            height="100"
            baseChart
            [data]="inTimeData"
            [labels]="inTimeLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="inTimeColors"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
        <mat-divider></mat-divider>
        <div class="chart">
          <canvas
            height="100"
            baseChart
            [data]="outTimeData"
            [labels]="outTimeLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="outTimeColors"
            [legend]="pieChartLegend"
          >
          </canvas>
        </div>
      </div>
      <div id="shifts" fxLayoutAlign="center center">
        <mat-button-toggle-group>
          <mat-button-toggle
            *ngFor="let status of attendance.stats; let i = index"
            (click)="onChange(i)"
            value="i"
            >{{ status.shift }}</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </div>
    <ng-template #noData>
      Insufficient data to display pie chart. Pie chart will load when data are available
    </ng-template>
  </mat-card>

  <div fxFlex="40" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-card fxFlex class="card-block" fxFlex="49">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/time.png" />
            <h3 matLine>Shift Timings</h3>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-flat-button [routerLink]="['/attendance/shift']">
            View
          </button>
        </div>
      </mat-card>
      <mat-card fxFlex class="card-block" fxFlex="49">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/absent.png" />
            <h3 matLine>Absent Detail</h3>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button [routerLink]="['/attendance/absent-dtl']">
            View
          </button>
        </div>
      </mat-card>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-card fxFlex class="card-block" fxFlex="49">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/group.png" />
            <h3 matLine>Groups</h3>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button [routerLink]="['/attendance/group']">
            View
          </button>
        </div>
      </mat-card>
      <mat-card fxFlex class="card-block" fxFlex="49">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/emp-group.png" />
            <h3 matLine>Employee Group</h3>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button [routerLink]="['/attendance/employee-group']">
            View
          </button>
        </div>
      </mat-card>
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <mat-card fxFlex class="card-block" fxFlex="49">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/upload.png" />
            <h3 matLine>Upload Data</h3>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button [routerLink]="['/attendance/upload-data']">
            View
          </button>
        </div>
      </mat-card>
      <mat-card fxFlex class="card-block" fxFlex="49">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/icons/process.png" />
            <h3 matLine>Month End</h3>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="apply-block" fxLayoutAlign="end">
          <button mat-button [routerLink]="['/attendance/absentee-statement']">
            Process
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #employeeView>
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-card fxFlex class="card-block">
      <mat-list>
        <mat-list-item>
          <img matListAvatar src="assets/icons/time.png" />
          <h3 matLine>Punching Timings</h3>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <div class="apply-block">
        <div *ngFor="let punchTiming of punchTimings">
          <h2 class="title">{{ punchTiming.name | uppercase }} TIMING</h2>
          <div class="item">
            <div>In Time</div>
            <div fxLayout="row" fxLayoutGap="10px">
              <div fxFlex>
                Start:
                <span class="left-margin">{{ punchTiming.in_time_start }}</span>
              </div>
              <div fxFlex>
                End:
                <span class="left-margin">{{ punchTiming.in_time_end }}</span>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="item">
            <div>Out Time</div>
            <div fxLayout="row" fxLayoutGap="10px">
              <div fxFlex>
                Start:
                <span class="left-margin">{{
                  punchTiming.out_time_start
                }}</span>
              </div>
              <div fxFlex>
                End:
                <span class="left-margin">{{ punchTiming.out_time_end }}</span>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="item">
            Late time:
            <span class="left-margin">{{ punchTiming.late_time }}</span>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex class="card-block">
      <mat-list>
        <mat-list-item>
          <img matListAvatar src="assets/icons/today.png" />
          <h3 matLine>Today's Punching</h3>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <div class="apply-block">
        <h2 class="title">
          NO OF PUNCHINGS:
          <span style="margin-left: 10px">{{ todaysPunchings.length }}</span>
        </h2>
        <ul>
          <li *ngFor="let punch of todaysPunchings">
            {{ punch }}
          </li>
        </ul>
      </div>
    </mat-card>

    <mat-card fxFlex class="card-block">
      <mat-list>
        <mat-list-item>
          <img matListAvatar src="assets/icons/late.png" />
          <h3 matLine>Late punchings</h3>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <div class="apply-block">
        <h2 class="title">
          NO OF DAYS:
          <span style="margin-left: 10px">{{ latePunchings.length }}</span>
        </h2>
        <ul>
          <li *ngFor="let day of latePunchings">
            {{ day | date: "mediumDate" }}
          </li>
        </ul>
      </div>
    </mat-card>
  </div>
</ng-template>
