<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/shift']">Shift</button>
</div>
<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/group']">Group</button>
</div>
<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/employee-group']">Employee Group</button>
</div>
<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/shift-grp-roster']">Shift Group Roster</button>
</div>
<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/gen-grp-roster']">General Group Roster</button>
</div>
<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/upload-data']">Upload Attendance Date</button>
</div>
<div class="buttons">
  <button mat-raised-button (click)="openWageMonth()">Wage Month</button>
</div>
