.buttons {
  margin: 20px;
}

.card-block {
  padding: 0px;    
}

.apply-block {
  padding: 10px;
  font-size: 13px;        
}

.item {
  padding: 5px;
}

.title {
  margin-bottom: 0px;
  margin-top: 10px;
}

.left-margin {
  margin-left: 6px;
  font-weight: 400px;
  font-size: 14px;
}

ul, li {
  padding: 0px;
  margin-left: 10px;
}