<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/shift']">Shift</button>
</div>
<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/group']">Group</button>
</div>
<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/employee-group']">Employee Group</button>
</div>
<div class="buttons">
  <button mat-raised-button [routerLink]="['/attendance/group-roster']">Group Roster</button>
</div>
<div class="buttons">
  <button mat-raised-button (click)="openWageMonth()">Wage Month</button>
</div>
