<div class="main-container">
  <mat-card *ngIf="dataSource" class="table">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef fxFlex="8"> Sl. No </mat-header-cell>
        <mat-cell *matCellDef="let institute; let i = index;" fxFlex="8"> 
          {{ i + 1 + pageIndex*pageSize }} 
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef fxFlex="25"> Name </mat-header-cell>
        <mat-cell *matCellDef="let institute" fxFlex="25"> {{institute.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef fxFlex="25"> Address </mat-header-cell>
        <mat-cell *matCellDef="let institute" fxFlex="25" class="contact"> {{ institute.address }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="website">
        <mat-header-cell *matHeaderCellDef fxFlex="16"> Website </mat-header-cell>
        <mat-cell *matCellDef="let institute" fxFlex="16" class="website"> {{institute.website}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef fxFlex="18"> Contact </mat-header-cell>
        <mat-cell *matCellDef="let institute" fxFlex="18" class="contact"> 
          <div fxLayout="column">
            <div>{{institute.contact_person}}</div>
            <div *ngIf="institute.contact_no">
              <span>Ph:</span>&nbsp; 
              <span>{{institute.contact_no}}</span>
            </div>  
          </div>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef fxFlex="8"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let institute" fxFlex="8">
          <ng-container>
            <button mat-icon-button (click)="onEdit(institute)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[1, 10, 15, 30, 50]"
      [length]="dataLength"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      showFirstLastButtons
      (page)="changePage($event)">
    </mat-paginator>
  </mat-card>  
</div>

<button mat-fab 
  class="fab-bottom-right"
  matTooltip="Add New Training"
  matTooltipPosition="left"
  color="accent" 
  (click)="addNewInstitute()">
    <mat-icon>add</mat-icon>
</button>