<div fxLayoutAlign="space-between" id="header">
  <h3 mat-dialog-title>Leave Details</h3>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div fxLayout="column" fxLayoutAlign="end stretch" id="container">
  <div fxFlex>
    <mat-accordion>
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            General Info
          </mat-panel-title>
          <mat-panel-description>
            Purpose, address and contact during leave
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <div>
          <div class="info"><span class="title">Name: </span>
            {{data.leave.first_name | titlecase}} 
            {{data.leave.last_name | titlecase}}</div>
          <div class="info"><span class="title">Purpose: </span>
            {{data.leave.purpose}}</div>
          <div class="info"><span class="title">Address: </span>
            {{data.leave.address}}</div>
          <div class="info"><span class="title">Contact: </span>
            {{data.leave.contact_no}}</div>
        </div> 
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Leave Info  
          </mat-panel-title>
          <mat-panel-description>
            Details of leave types and no of days 
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div *ngIf="leaveDetailSource" style="padding-top: 8px" id="leaveDay">
          <mat-table [dataSource]="leaveDetailSource">
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef fxFlex="10"> Sl. No. </mat-header-cell>
              <mat-cell *matCellDef="let leaveDay; let i = index;" fxFlex="10"> 
                {{ i + 1 }} 
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="leave_type">
              <mat-header-cell *matHeaderCellDef fxFlex="30"> Leave Type </mat-header-cell>
              <mat-cell *matCellDef="let leaveDay" fxFlex="30"> 
                {{lTypeService.getLeaveType(leaveDay.leave_type)}} 
              </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="from_date">
              <mat-header-cell *matHeaderCellDef fxFlex="30"> From Date </mat-header-cell>
              <mat-cell *matCellDef="let leaveDay" fxFlex="30"> {{leaveDay.from_date | date:'mediumDate'}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="to_date">
              <mat-header-cell *matHeaderCellDef fxFlex="30"> To Date </mat-header-cell>
              <mat-cell *matCellDef="let leaveDay" fxFlex="30"> 
                <span *ngIf="!(leaveDay.leave_type == cl_code || leaveDay.leave_type == rh_code)">
                  {{leaveDay.to_date | date:'mediumDate'}}
                </span> 
              </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>  
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            History Info  
          </mat-panel-title>
          <mat-panel-description>
            Details of leave approval history
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-list>
          <mat-list-item *ngFor="let hist_info of data.leave.history; let i=index">
            <h3 matLine> 
              <span>{{i + 1}}.&nbsp;</span>
              <span>{{wActionService.getWorkflowAction(hist_info.workflow_action)}}</span>
              <span>&nbsp;on&nbsp;</span>
              <span>{{hist_info.updated_at | date:'mediumDate'}}</span> 
            </h3>
            <p matLine>
              <span *ngIf="hist_info.officer">&nbsp;&nbsp;&nbsp;&nbsp; -- application is with {{hist_info.officer.first_name | titlecase}} {{hist_info.officer.last_name | titlecase}} </span>
            </p>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" *ngIf="isTransaction !== true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Actions 
            </mat-panel-title>
            <mat-panel-description>
              Actions to be performed by officer
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <form [formGroup]="actionForm" fxLayout="column" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <mat-select placeholder="Select required action" formControlName="workflow_action">
                <mat-option *ngFor="let action of actions" [value]="action.code">
                  {{action.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field *ngIf="workflow_action.value == leave_recommended">
              <mat-select placeholder="Forward to" formControlName="officer_emp_code">
                <mat-option *ngFor="let officer of ctrlOfficers" [value]="officer.emp_code"> 
                  {{officer.first_name | titlecase}} {{officer.last_name | titlecase}}, {{officer.designation}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Remarks" formControlName="remarks">
            </mat-form-field>

            <div fxLayoutAlign="end start">
              <button mat-raised-button color="primary" [disabled]="actionForm.invalid">Submit</button>
            </div>  
          </form>
        </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>