<mat-nav-list>
  <div *ngIf="cl_status && cl_status.balance >= 1">
    <a mat-list-item (click)="onSelect($event, cl_status)">
      <span mat-line>{{leaveTypeService.getLeaveType(cl_status.leave_code)}}</span>
      <span mat-line>Apply for {{leaveTypeService.getLeaveType(cl_status.leave_code)}}</span>
    </a>
  </div>

  <div *ngIf="data.isRH && rh_status && rh_status.balance >= 1">
    <a mat-list-item (click)="onSelect($event, rh_status)">
      <span mat-line>{{leaveTypeService.getLeaveType(rh_status.leave_code)}}</span>
      <span mat-line>Apply for {{leaveTypeService.getLeaveType(rh_status.leave_code)}}</span>
    </a>
  </div>

  <div *ngIf="cl_status && cl_status.balance > 0">
    <a mat-list-item (click)="onSelect($event, cl_status, true)">
      <span mat-line>{{ leaveTypeService.getLeaveType(hd_cl_code) }}</span>
      <span mat-line>Apply for {{ leaveTypeService.getLeaveType(hd_cl_code) }}</span>
    </a>
  </div>

  <div *ngIf="rh_status.balance < 1 && cl_status.balance < 0.5">
    <a mat-list-item (click)="bottomSheetRef.dismiss()">
      <span mat-line>You dont have any CL and RH for the year. Dismiss</span>
    </a>
  </div>
</mat-nav-list>