<mat-nav-list>
  <ng-container *ngFor="let status of data.leaveStatuses">
    <ng-container *ngIf="status.balance > 0">
      <a mat-list-item (click)="onSelect($event, status)" 
          *ngIf="(status.leave_code != rh_code) || (data.isRH && status.leave_code == rh_code)">
        <span mat-line>{{leaveTypeService.getLeaveType(status.leave_code)}}</span>
        <span mat-line>Apply for {{leaveTypeService.getLeaveType(status.leave_code)}}</span>
      </a>
    </ng-container>
  </ng-container>
</mat-nav-list>