<form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <div id="general-info">
        <div fxLayout="row" class="row">
          <div fxFlex="25" class="title">Programme Title</div>
          <div fxFlex="5">:</div>
          <div fxFlex="70" class="info">{{training.course_title}}</div>
        </div>

        <div fxLayout="row" class="row">
          <div fxFlex="25" class="title">Programme Venue</div>
          <div fxFlex="5">:</div>
          <div fxFlex="70" class="info">{{training.venue}}</div>
        </div>

        <div fxLayout="row" class="row">
          <div fxFlex="25" class="title">Programme Date</div>
          <div fxFlex="5">:</div>
          <div fxFlex="70" class="info">From {{training.from_date | date:'mediumDate'}} to 
            {{training.to_date | date:'mediumDate'}}</div>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div id="resource-person">
        <div>Performance of the resource person</div>
        <div fxLayout="row" class="row">
          <div fxFlex="25" class="title">Resource Person</div>
          <div fxFlex="25" class="title">Topic Session</div>
          <div fxFlex="50" class="rating-header">Unstatisfactory ------> Excellent</div>
        </div>

        <div formArrayName="topic_ratings">
          <div *ngFor="let item of topic_ratings.controls; let i=index">
            <div [formGroupName]="i" fxLayout="row" class="row">
              <div fxFlex="25">{{training.training_topics[i].faculty_name}}</div>
              <div fxFlex="25">{{training.training_topics[i].topic_name}}</div>
              <div fxFlex="50">
                <mat-radio-group formControlName="rating">
                  <mat-radio-button value="1">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                  <mat-radio-button value="3">3</mat-radio-button>
                  <mat-radio-button value="4">4</mat-radio-button>
                  <mat-radio-button value="5">5</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div fxLayout="row" class="row">
        <div fxFlex="50"></div>
        <div fxFlex="50" class="rating-header">Unstatisfactory ------> Excellent</div>
      </div>

      <div fxLayout="row" class="row"> 
        <div fxFlex="50">
          <span class="title">Duration of the Programme</span>
        </div>
        <div fxFlex="50">
          <mat-radio-group formControlName="duration_rating">
            <mat-radio-button value="1">1</mat-radio-button>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4</mat-radio-button>
            <mat-radio-button value="5">5</mat-radio-button>
          </mat-radio-group>  
        </div>
      </div>  

      <div fxLayout="row" class="row">
        <div fxFlex="50">
          <span class="title">Course Material</span>
        </div>
        <div fxFlex="50">
          <mat-radio-group formControlName="content_rating">
            <mat-radio-button value="1">1</mat-radio-button>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4</mat-radio-button>
            <mat-radio-button value="5">5</mat-radio-button>
          </mat-radio-group>  
        </div>
      </div>

      <div fxLayout="row" class="row">
        <div fxFlex="50">  
          <span class="title">Training Methodology</span>
        </div>
        <div fxFlex="50">
          <mat-radio-group formControlName="methodology_rating">
            <mat-radio-button value="1">1</mat-radio-button>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4</mat-radio-button>
            <mat-radio-button value="5">5</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div fxLayout="row" class="row">
        <div fxFlex="50">  
          <span class="title">Administrative Service</span>
        </div>
        <div fxFlex="50">
          <mat-radio-group formControlName="admin_service_rating">
            <mat-radio-button value="1">1</mat-radio-button>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4</mat-radio-button>
            <mat-radio-button value="5">5</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div fxLayout="row" class="row">
        <div fxFlex="50">
          <span class="title">Overall Benefit of the Programme</span>
        </div>
        <div fxFlex="50">
          <mat-radio-group formControlName="overall_utility_rating">
            <mat-radio-button value="1">1</mat-radio-button>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4</mat-radio-button>
            <mat-radio-button value="5">5</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>

      <mat-form-field *ngIf="isExternal()">
        <input matInput formControlName="ta_da_incurred" placeholder="Tentative DA/TA expenses incurred during the programme">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Leave a comment" rows="3" formControlName="comments"></textarea>
        <mat-error *ngIf="comments.errors?.required">Please leave a comment or suggestions</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" 
      [disabled]="feedbackForm.invalid || isLoading">Save</button>
  </mat-dialog-actions>
</form>  